.header-page-parent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100px;
  text-align: center;

  h1 {
    width: 300px;
  }
}

.page-parent {
  display: grid;
  grid-template-rows: 3fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin: 16px;

  .space-reservation {
    box-shadow: 8px;
    align-items: center;
    width: 340px;
  }

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.my-news {
  background-color: var(--light-bg-bloc-color-button);
  font-family: var(--font-family-body);
  box-shadow: 0 3px 2px 0 rgb(170, 176, 179);
  border: none;
  border-radius: 10px;
  height: 3rem;
  margin: auto;
  width: 340px;
  cursor: pointer;
}

.container-btn {
  justify-content: center;
  align-items: center;
}

.page-parent section {
  background-color: var(--light-bg-bloc-color);
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 2px 0 rgb(170, 176, 179);
  border-radius: 18px;
}

.scroller {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 350px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--light-bg-bloc-color-button) white;
  margin: 16px;
  padding-bottom: 16px;
}

.new-reservation {
  background-color: var(--light-bg-bloc-color-button);
  font-family: var(--font-family-body);
  box-shadow: 0 3px 2px 0 rgb(170, 176, 179);
  border: none;
  border-radius: 48px;
  height: 3rem;
  width: 12rem;
  margin: 16px auto 16px;
  cursor: pointer;
}

.space-children .scroller-children {
  width: auto;
  margin-bottom: 8px;
}

.space-children {
  background-color: white;
  height: auto;
  border-radius: 8px;
  padding: 16px;
}

.scroller-children {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--light-bg-bloc-color-button) white;
}

.old-resevation {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  box-shadow: 0 3px 2px 0 rgb(170, 176, 179);
}

.box-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  width: auto;
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--light-bg-bloc-color-button) white;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header-page-parent {
    h1 {
      display: flex;
      flex-direction: column;
      width: 300px;
    }
  }

  .page-parent {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-column-gap: 16px;
    margin: 16px;
    text-align: center;
    justify-items: center;

    h3 {
      width: 400px;
      margin-bottom: 28px;
    }

    .container-btn {
      grid-column: 2 / 3;
      grid-row: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .my-news {
      grid-column: 2 / 3;
      width: 200px;
      height: 100px;
      border-radius: 48px;

      a {
        align-items: center;
        justify-content: center;
      }
    }

    .space-reservation {
      grid-column: 1 / 2;
      grid-row: 2 / -2;
      align-items: center;
      justify-content: center;
      width: max-content;
      height: 600px;

      h3 {
        margin: 24px 0 8px;
      }
    }

    .scroller {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      overflow-y: scroll;
      width: max-content;
    }

    .new-reservation {
      margin-top: auto;
    }

    .space-children {
      align-items: center;
      width: 600px;
      height: 600px;
      grid-column: 3 / 4;
    }

    .scroller-children {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      overflow-y: scroll;
      padding: 0;
    }

    .old-reservation {
      display: grid;
      justify-content: center;
    }

    .box-one {
      grid-template-columns: repeat(2, 1fr);
      overflow-y: scroll;
      height: 230px;
      width: 470px;
      gap: 16px;
    }
  }
}
