.registration-professional-page {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.section-professional-page {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.registration-professional-page .logo-registration-professional img {
  width: 200px;
  margin-bottom: 10px;
}

.registration-professional-page .title-registration-professional {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 32px 0;
}

.registration-professional-page .registration-professional,
.registration-professional-page .registration-professional article {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.registration-professional input {
  font-family: var(--font-family-body);
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background-color: #d9eef4;
  color: #333;
  width: 100%;
}

.registration-professional-page .registration-professional input::placeholder {
  color: #888;
}

.registration-professional-page .submit-professional {
  font-family: var(--font-family-body);
  margin-top: 20px;
  background-color: #e3def6;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 24px;
  border-radius: 48px;
  cursor: pointer;
  width: fit-content;
  align-self: center;
  transition: background-color 0.3s ease;
}

.registration-professional-page .professional-button {
  font-family: var(--font-family-body);
  margin-top: 20px;
  background-color: #d9eef4;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 24px;
  border-radius: 48px;
  cursor: pointer;
  width: fit-content;
  align-self: center;
  transition: background-color 0.3s ease;
}

.registration-professional-page .submit-professional:hover {
  background-color: #a285be;
}

.registration-professional-page .professional-button:hover {
  background-color: #6ba8c9;
}

@media screen and (min-width: 850px) {
  .registration-professional-page {
    background-image: url("/images/background.png");
    background-size: cover;
    background-position: center;
  }

  .registration-professional-page .section-professional-page {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

  .registration-professional-page .section-professional-page img {
    display: none;
  }

  .registration-professional-page .form-professional {
    width: 100%;
  }

  .registration-professional-page .registration-professional {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
  }

  .registration-professional-page .submit-professional {
    grid-column: -3 / -1;
    justify-self: center;
  }
  .registration-professional-page .grid-box1 {
    grid-column: 1 / 2;
  }

  .registration-professional-page .grid-box2 {
    grid-column: 2 / 2;
  }

  .registration-professional-page .registration-professional input {
    width: auto;
  }
}
