.page-reservation-pro-management {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0;

  .title-page {
    justify-content: center;
    padding: 0 8px 4px 26px;
  }

  .strong {
    margin: 16px 0 16px;
  }
}

.information {
  display: grid;
  align-items: start;
  grid-template-rows: repeat(1, 1fr);
  background-color: var(--light-bg-bloc-color);
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 10px;

  h2 {
    margin: 0;
  }

  .pending-c,
  .validated-c,
  .refused-c {
    display: flex;
    padding: 18px 0 18px 0;
    margin: 0;
    justify-content: center;
  }

  .pending-c {
    background-color: rgba(232, 244, 194, 1);
  }

  .validated-c {
    background-color: rgba(244, 204, 194, 1);
  }

  .refused-c {
    background-color: rgba(255, 153, 153, 1);
  }
}

@media screen and (min-width: 765px) {

  .page-reservation-pro-management .information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .bloc-validated,
  .bloc-reservation,
  .bloc-refused {
    p {
      padding-left: 16px;
    }
  }

  .pending-c {
    border-radius: 10px 0 0 10px;
  }

  .validated-c {
    border-radius: 0;
  }

  .refused-c {
    border-radius: 0 10px 10px 0;
  }
}