.title-page {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

div.page-reservation-pro-management {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 0;
}

.container-one {
  display: flex;
  flex-direction: column;
  background-color: white;

  h2 {
    margin: 32px 16px;
  }

  .rdrCalendarWrapper {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}

.container-two {
  background-color: var(--light-bg-bloc-color);
  padding: 24px;

  h2 {
    margin: 0;
  }
}

.valid-reservation {
  font-family: var(--font-family-body);
  margin-top: 20px;
  background-color: var(--light-bg-bloc-color-button);
  color: #000;
  border: none;
  box-shadow: 0 3px 2px 0 rgb(170, 176, 179);
  padding: 12px;
  border-radius: 48px;
  cursor: pointer;
  width: fit-content;
  align-self: center;
  transition: background-color 0.3s ease;
  margin-bottom: 16px;
}

@media screen and (min-width: 765px) {
  .page-reservation-pro-management {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 16px;
  }

  .reservation,
  .information {
    grid-row: 2/3;
  }

  .valid-reservation {
    grid-column: 2/3;
  }
}