.page-reservation-pro-management {
  display: grid;
  grid-template-rows: 2fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 16px;

  h1 {
    display: ;
  }

  .valid-reservation {
    font-family: var(--font-family-body);
    margin-top: 20px;
    background-color: var(--light-bg-bloc-color-button);
    color: #000;
    border: none;
    padding: 12px;
    border-radius: 48px;
    cursor: pointer;
    width: fit-content;
    align-self: center;
    transition: background-color 0.3s ease;
  }

  /* @media screen and (min-width: 765px) {} */