/* .bloc-one {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 8px;
  margin: 16px 28px;
  box-shadow: 0 3px 2px 0 rgb(170, 176, 179);

  p {
    display: flex;
    justify-content: center;
  }
} */
