.registration-parents-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.registration-parents-page .section-parents-page {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.registration-parents-page .section-parents-page img {
  width: 200px;
  margin-bottom: 10px;
}

.registration-parents-page .title-registration-parents h1 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.registration-parents {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.registration-parents article {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.registration-parents input[type="text"],
.registration-parents input[type="email"],
.registration-parents input[type="number"],
.registration-parents input[type="password"],
.registration-parents input[type="file"],
.registration-parents input[type="date"],
.registration-parents input[type="tel"] {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background-color: #d9eef4;
  color: #333;
  width: 100%;
}

.registration-parents-page input::placeholder {
  color: #888;
}

.registration-parents-page .submit-parents {
  margin-top: 20px;
  background-color: #e3def6;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 24px;
  border-radius: 48px;
  cursor: pointer;
  width: fit-content;
  align-self: center;
  transition: background-color 0.3s ease;
}

.registration-parents-page .parents-button {
  margin-top: 20px;
  background-color: #e3def6;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 24px;
  border-radius: 48px;
  cursor: pointer;
  width: fit-content;
  align-self: center;
  transition: background-color 0.3s ease;
}

.registration-parents-page .submit-parents:hover {
  background-color: #a285be;
}

.registration-parents-page .parents-button:hover {
  background-color: #bdc8d5;
}

@media screen and (min-width: 850px) {
  .registration-parents-page {
    background-image: url("/images/background.png");
    background-size: cover;
    background-position: center;
  }

  .section-parents-page {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }

  .section-parents-page img {
    display: none;
  }

  .form-parents {
    width: 100%;
  }

  .registration-parents-page .registration-parents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
    width: 600px;
    margin: 0 auto;
  }

  .registration-parents-page .submit-parents {
    grid-column: -3 / -1;
    justify-self: center;
  }
  .registration-parents-page .grid-box-parents1 {
    grid-column: 1 / 2;
  }

  .registration-parents-page .grid-box-parents2 {
    grid-column: 2 / 2;
  }

  .registration-parents-page .registration-parents input {
    width: auto;
  }
}
