.figure-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 8px;
  background-color: white;
  box-shadow: 0 3px 2px 0 rgb(170, 176, 179);
  border-radius: 10px;
  max-width: 250px;
  height: max-content;

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }

  button {
    border: none;
    font-family: var(--font-family-body);
    border-radius: 10px;
    height: 2rem;
    width: 6rem;
    margin-left: 8px;
    padding: 0;
    cursor: pointer;
    color: var(--light-text-color);
    background-color: var(--light-bg-bloc-color-button);
  }
}