@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=location_on");

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.input-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
  position: relative;
}
.material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: 2px solid gray;
  height: 2.5rem;
  border-left-style: none;
  width: 2.6rem;
}

.input-search input {
  display: flex;
  padding-left: 30px;
  align-items: center;
  height: 40px;
  border-right-style: none;
}

.input-search .material-symbols-outlined {
  color: gray;
}

.search-bar ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-bar ul li {
  padding: 8px 16px;
  cursor: pointer;
}
