.page-registration-children {

  display: flex;
  flex-direction: column;

  border: 1px solid red;

  h1 {
    display: inline-block;
    padding: 16px 16px;
    justify-content: center;
    align-content: center;
  }
}


.footer-registration-children {

  .next-button {
    background-color: var(--light-bg-bloc-color-button);
    font-family: var(--font-family-body);
    box-shadow: 0 3px 2px 0 rgb(170, 176, 179);
    border: none;
    border-radius: 48px;
    height: 2rem;
    width: 8rem;
    margin: 16px;
    padding: 0;
    cursor: pointer;
  }

  .return-button {
    border: none;
    background-color: white;
    height: 2rem;
    width: 8rem;
    margin: 16px auto 16px;
    cursor: pointer;
  }
}